body {
  margin: 0;
  padding: 0;
}

a{
    text-decoration: none;
}
li {
    list-style: none;
}
.logo img{
  transition: all 0.3s ease;
  cursor:pointer;
}
.logo img:hover{
  scale: 1.1; 
}
@media (min-width: 768px){
  .logo img{
    width: 200px;
  }
}